@{
    ViewData["Title"] = "super admin controller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <tr>
        <th>คำสั่ง</th>
        <th></th>
    </tr>
    <tr>
        <td>
            <a href="#" class="btn btn-default" onclick="deleteAllAttandance()">ลบข้อมูลการเข้าห้องเรียนทั้งหมด</a>
            
        </td>
        <td id="deletedAllAttendanceResult"></td>
    </tr>
</table>
@section scripts
{
<script>
    function deleteAllAttandance() {
        var r = confirm('ต้องการลบจริงๆ หรือไม่')
        $('#deletedAllAttendanceResult').text('')

        if (r == false) {
            return;
        }

        $.get({
            url: '/superadmin/deleteallattendance',
            success: function () {
                $('#deletedAllAttendanceResult').append('ลบเสร็จเรียบร้อย')
            }
        })
    }
</script>
}