@model IEnumerable<Subject>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>วิชาที่กำลังมีการเช็คชื่อขณะนี้</h2>

<table class="table">
    <thead>
        <tr>
            <th>ชื่อวิชา</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("ดูการเช็คชื่อขณะนี้", "Details", new { id = item.Id, section = item.Section })
            </td>
        </tr>
}
    </tbody>
</table>
